
    <#-- tipo de contenido -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <#-- compatibilidad con IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <#-- no cache http 1.1 -->
    <meta http-equiv="Cache-Control" content="no-cache">

    <#-- no cache http 1.0 -->
    <meta http-equiv="Pragma" content="no-cache">

    <#-- no cache proxies -->
    <meta http-equiv="Expires" content="0">

    <#-- no robots -->
    <meta http-equiv="Robots" content="none,noarchive">
    <meta http-equiv="GoogleBot" content="none,noarchive">

    <#-- no imagetoolbar -->
    <meta http-equiv="imagetoolbar" content="no">
